<form class="" action="/create" method="post">

  <label>Pokemon Nickname:</label>
  <input type="text" name="nickname" value="">

  <label>Pokemon Species:</label>
  <input type="text" name="species" value="">

  <label>Pokemon level:</label>
  <input type="text" name="level" value="">

  <button>Register</button>
</form>
